<form (submit)="addTodo(newTodo)">
  <!-- #newTodo is a Model variable associated with the input itself (not the value) within this template -->
  <input placeholder="New todo" #newTodo required><!-- HTML validation only works onSubmit -->
  <!-- This is the way to trigger a function onClick.  This behavior is on the button itself -->
  <button>Add</button>
</form>

<ul>
  <!-- Star directives modify the DOM -->
  <li *ngFor="#todo of todos; #i = index; #e = even" class="{{e? 'even' : 'odd'}}">
    <a href="#" (click)="updateTodo(i)">{{(i + 1) < 10? 0 : ''}}{{i + 1}}</a>: {{todo}}
    <a href="#" (click)="deleteTodo(i)">x</a>
  </li>
</ul>

<div *ngIf="todos.length >= 5">
  <strong>Big List warning!!!</strong>
</div>
